{% extends "../main.html" %}

{% block title %}Root the Box{% end %}

{% block content %}
    <div class="container">
        <div class="well" style="background-image: url(/static/images/rtb2.png); background-size:contain; background-size:100%; width:842px;height:596px;">
            <h2>A Game of Flags <small>Welcome to Let's Just Hack Shit's Inaugural CTF.</small></h2>
            <div class="vbottom">
                <p>
                    <ul>
                    <li>A twist on the traditional capture the flag wargames</li>
                    <li>Capture flags for platypuscoins, spend them to upgrade your box or attack others</li>
                    <li>Keep your eyes peeled, flags are everywhere</li>
                    <li>Hosted by muld0r</li>
                    <li>Prizes include platypus plushies, because fuck yes&tm;</li>
                    </ul>
                </p>
                <a class="btn btn-primary btn-large" href="/registration">
                    Register &raquo;
                </a>
            </div>
        </div>
    </div>
{% end %}